@using GameStore.Application.UseCases.Games.Commands.CreateGame;
@using GameStore.Application.UseCases.Genres;
@using GameStore.Domain.Entities;

@{
    ViewData["Title"] = "CreateGame";
    Layout = "_Layout";

    GenreResponse[] Genres = ViewData["Genres"] as GenreResponse[];
}

@model CreateGameCommand

<form asp-controller="Game" asp-action="CreateGame" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="create-box">
    <h2 style="color:white; display:flex; justify-content:center; padding-bottom:10px;"> Add New Game</h2>

        <div class="form-group">
            <label asp-for="Name" class="control-label text-white"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group pt-3">
            <label asp-for="Description" class="control-label text-white">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group pt-3">
            <label asp-for="Price" class="control-label text-white">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group box pt-3">
            <label class="control-label text-white">Select Genres</label>
            @foreach (var genre in Genres)
            {
                <div class="form-check">
                    <input type="checkbox" name="GenreIds" value="@genre.Id" class="form-check-input" />
                    <label class="form-check-label text-white">@genre.Name</label>
                </div>
            }
            <span asp-validation-for="GenreIds" class="text-danger"></span>
        </div>

        <div class="form-group pt-3">
            <label for="Picture" class="text-white">Select Image File:</label>
            <input type="file" name="Picture" class="form-control" required />
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>

        <div class="form-group pt-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

</form>
